:root {
  --primary: #495e57;
  --primary-variant: #f4ce14;
  --yellow-variant: #C2A511;
  --secondary: #ee9972;
  --secondary-variant: #fbdabb;
  --bg: #edefee;
  --bg-variant: #333333;
}

/* Common */
.btn-yellow {
  padding: 1em 1.5em;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  border-radius: 1em;
  background-color: var(--primary-variant);
  border: none;
  transition: transform 0.3s;
}

.btn-yellow:hover {
  cursor: pointer;
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}

header,
.hero-container,
.special {
  padding: 1rem;
}

h1,
h2 {
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
  font-weight: 400;
}


/* Header - nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  text-decoration: none;
  margin-left: 1rem;
  text-transform: uppercase;
  color: black;
}

header a:hover {
  text-decoration: underline;
  color: var(--bg-variant);
}

.max-w {
  max-width: 1000px;
  margin: 1rem auto;
}

/* hero  */
.hero-container {
  background-color: var(--bg-variant);
  margin-bottom: 10rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 2rem;
  padding: 2rem 0;
}

.hero-text h1 {
  font-size: 4rem;
  color: var(--yellow-variant);
  height: 4rem;
}

.hero-text h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.hero-text p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero img {
  margin-bottom: -10rem;
  height: 30rem;
  width: 25rem;
  border-radius: 2rem;
  object-fit: cover;
}

/* This weeks special */
.special-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.special-title h2 {
  font-size: 3.5rem;
  line-height: 80%;
}

.dish-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dish {
  width: 30%;
  background-color: var(--bg);
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Karla', serif;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.dish:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dish img {
  height: 40%;
  object-fit: cover;
}

.dish-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.dish-title h3 {
  font-weight: 800;
}

.dish-title span {
  color: var(--secondary);
  font-weight: 800;
}

.dish p {
  flex: 1;
  padding: 1rem;
  font-weight: 300;
}

.dish a {
  font-weight: 500;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Testimonials */
.testimonials-container {
  background-color: var(--bg-variant);
  max-height: 100vh;
  overflow: hidden;
  padding-bottom: 2rem 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h2 {
  font-size: 3.5rem;
  padding: 2rem 0;
  color: var(--yellow-variant);
}

.test-box-container {
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50vh;
  cursor: default;
}

.testimonial {
  width: 23%;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 1rem;
}

.test-image {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.test-image img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.test-rating {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.test-description {
  font-weight: 300;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  nav {
    display: none;
  }

  .hero-container {
    padding: 0;
    margin-bottom: 1rem;
  }

  .hero {
    padding: 20rem 0;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../public/assets/images/restaurant-food.jpg);
    background-size: cover;
    position: relative;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hero-text {
    z-index: 1;
  }

  .hero-text h2 {
    font-weight: 600;
  }

  .hero p {
    margin-bottom: 2rem;
  }

  .hero img {
    display: none;
  }

  .dish-container {
    flex-direction: column;
    align-items: center;
  }

  .dish {
    width: 70%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .testimonials-container {
    max-height: 120vh;
  }

  .test-box-container {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }

  .testimonial {
    width: 70%;
  }
}